<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Courseware.Domain" />
    <assembly name="Courseware.DataAccess" />
    <assembly name="Courseware.Service" />

    <container>
      <register type="Courseware.Domain.ICourseRepository" mapTo="Courseware.DataAccess.SqlCourseRepository" />
      <register type="Courseware.Service.ICourseAppService" mapTo="Courseware.Service.CourseAppService" />
      
    </container>
    
  </unity>


</configuration>